<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <h1>
        Travel App
    </h1>
  </header>
  <main>
    <section>
    <form class ="holder destination" id="form" onsubmit="return Client.performAction(event)">
      <label id="destinationLabel" type="text">Destination city</label>
      <textarea id="destinationInput" type="text" name="destInput" value="" placeholder="Type your destination here" rows="1" columns="30"></textarea>
      <label id="dateLabel" type="text">Departure date</label>
      <textarea id="dateInput" type="text" name="dateInput" value="" placeholder="Enter your departure date here" rows="1" columns="30"></textarea>
      <button id="performAction" type = "submit" name="check" value="" onclick="return Client.performAction(event)" onsubmit="return Client.performAction(event)">Search</button>
    </section>
    <section>
      <div class ="holder entry">
      <div class = "title">Your destination forecast</div>
      <div id = "entryHolder" rows="5" columns="50">
      <div id = "date"></div> 
      <div id = "destination"></div>
      <div id = "country"></div>
      <div id = "city"></div>
      <div id = "temp"></div>
      </div>
      </div>
    </section>
  </main>
  <footer>
    <p>This is a footer</p>
    <div class="Logo">

    </div>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script> 
  <script src="../../../dist/main.js" type="text/javascript"></script>
</body>
</html>