<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap" rel="stylesheet">
    <title>Travel App</title>
  </head>

  <body>
    <header>
      <h1>
        Travel App
      </h1>
    </header>

    <!-- Slideshow container -->
    <div class="slideshow_container">
      <!-- Full-width images with number and caption text -->
      <div class="my_slides fade">
       <img src="../assets/images/1.jpg" style="width:100%">
      </div>
      <div class="my_slides fade">
        <img src="../assets/images/2.jpg" style="width:100%">
      </div>
      <div class="my_slides fade">
        <img src="../assets/images/3.jpg" style="width:100%">
      </div>
      <div class="my_slides fade">
        <img src="../assets/images/4.jpg" style="width:100%">
      </div>
      <div class="my_slides fade">
        <img src="../assets/images/5.jpg" style="width:100%">
      </div>
      <div class="my_slides fade">
        <img src="../assets/images/6.jpg" style="width:100%">
      </div>
      <div class="my_slides fade">
        <img src="../assets/images/7.jpg" style="width:100%">
      </div> 
    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="Client.currentSlide(1)"></span>
      <span class="dot" onclick="Client.currentSlide(2)"></span>
      <span class="dot" onclick="Client.currentSlide(3)"></span>
      <span class="dot" onclick="Client.currentSlide(4)"></span>
      <span class="dot" onclick="Client.currentSlide(5)"></span>
      <span class="dot" onclick="Client.currentSlide(6)"></span>
      <span class="dot" onclick="Client.currentSlide(7)"></span>
    </div>
    <br>

    <main>
      <section>
      <form class ="holder destination" id="form">
          <div class="nested_grid" id="nest1">
            <label id="origin_label" type="text">Origin</label>
            <input id="origin_input" type="text" name="org_input" value="" placeholder="Type your origin" required></imput>
          </div>
          <div class="nested_grid" id="nest2">
            <label id="destination_label" type="text">Destination</label>
            <input id="destination_input" type="text" name="dest_input" value="" placeholder="Type your destination" required></input>
          </div>       
          <div class="nested_grid" id="nest3">
            <label id="date_label1" type="text">Departure date</label>
            <input type="date" id="start_date" name="trip-start" value="" min="2021-01-01" max="2021-12-31" required>   
          </div>      
          <div class="nested_grid" id="nest4"> 
            <label id="date_label2" type="text">Return date</label>
            <input type="date" id="end_date" name="trip-end" value="" min="2021-01-01" max="2021-12-31" required>
          </div>
        <div class="button" id="button">
          <button id="perform_action" type ="submit" name="check" value="">Search</button>
        </div>
      </form>
      </section>
      <section>
        <div class ="holder_entry">
          <div class = "title">Your destination forecast:</div>
          <div id = "entry_holder" rows="10" columns="50">
            <div id = "date"></div> 
            <div id = "destination"></div>
            <div id = "country"></div>
            <div id = "city"></div>
            <div id = "temp"></div>
            <div id = "max_temp"></div>
            <div id = "min_temp"></div>
            <div id = "wind_dir"></div>
            <div id = "wind_speed"></div>
            <div id = "precipitation"></div>
            <div id = "trip_duration"></div>
          </div>
          <div id="picture">
            <img id="dest_picture" src="../assets/images/adventure.jpg" alt="Destination image">
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="logos">APIs used:
        <a href="https://www.geonames.org" target="_blank">
          <img id="logo_geonames" class="log" src="../assets/images/logo_geonames.png">
        </a>
        <a href="https://www.weatherbit.io" target="_blank">
          <img id="logo_weatherbit" class="log" src="../assets/images/logo_weatherbit.png">
        </a>
        <a href="https://pixabay.com" target="_blank">
          <img id="logo_pixabay" class="log" src="../assets/images/logo_pixabay.png">  
        </a>  
     </div>
    </footer>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script> 
  </body>
</html>