@font-face {
    font-family: 'Pacifico';
    src:
      url('../assets/fonts/Pacifico-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: normal;
    src:
      url('../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('ttf'),
}

@font-face {
    font-family: 'RobotoMonoB';
    font-style: normal;
    font-weight: bold;
    src:
      url('../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('ttf'),
}