@font-face {
    font-family: 'Pacifico';
    src:
      url('../assets/fonts/Pacifico-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: 'RobotoMono';
    src:
      url('../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('ttf'),
}