/* Form responsive rules */
@media (max-width: 600px){
    #form{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70px 70px 70px 70px 70px;
        grid-gap: 20px;
        grid-template-areas: 
        "nest1"
        "nest2"
        "nest3" 
        "nest4"
        "button"; 
        }
    #dest_picture{
        width: 90%;
    }
    .log{
        width: 80%;
    }
    #button{
        width: 94%;
    }
}  

@media (min-width: 601px) and (max-width: 1100px){
    #form{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 70px 70px 70px;
        grid-gap: 20px;
        grid-template-areas: 
        "nest1 nest2"
        "nest3 nest4"
        "button button"; 
        }
    #dest_picture{
        width: 80%;
    }
    #button{
        width: 94%;
    }
}    