// General styling 
body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background-color: white;
}

/* Homepage title */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

// Form styling
#form{
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: auto auto 230px 230px auto;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: rgb(189, 184, 184);
    color: #919191;
    font-size: 20px;
    border-radius: 5px;
    grid-template-areas:
    "nest1 nest2 nest3 nest4 button";
}

/* nestedGrid city and dates label-input */
.nested_grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px 50px;
}

/*  Styling city and dates */
label{
    display:block;
    padding-left: 10px;
    font-size: 10px;
    background-color: white;
}

input{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background: white;
    padding-left: 10px;
    color:  rgb(71, 67, 67);;
    font-size: 20px;
    border: none;
}

#nest3, #nest4{
    padding-right: 30px;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #b8b7b7;
    font-weight: 100;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #b8b7b7;
    font-weight: 100;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #b8b7b7;
    font-weight: 100; 
} 

/* :focus none */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Styling button */
button{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    display: block;
    width: 80%;
    margin: 10px;
    height: 50px;
    background:  rgb(51, 48, 48);
    color: white;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 2px 4px 5px rgb(29, 29, 29);
}

button:hover{
    background: rgb(85, 80, 80);
}

/* Title form results */
.title{
    font-weight: 500;
    text-decoration: underline; 
    font-size: 25px;
}

/* Form results from weatherbit */
.holder_entry {
    background: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 25px;
}

/* Form picture from pixabay */
#dest_picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

// footer
footer{
    background-color: rgb(51, 48, 48);
    color: white;
    margin-bottom: 0;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

/* Logos hover*/
.log:hover{
    border: 1px solid white;
    box-shadow: rgb(189, 187, 187);
}